header
  +grid()
  margin-top: 16px
  .logo
    grid-column: 1
    font-size: 1.6rem
    span
      font-weight: 900
  nav
    grid-column: 8 / 13
    display: flex
    align-items: center
    ul
      list-style: none
      display: inline-block
      li
        display: inline-block
        margin-right: 16px
        position: relative
        &::after
          content: ""
          position: absolute
          display: block
          bottom: -4px
          left: 50%
          height: 2px
          width: 0
          background-color: $text
          transition: 0.3s all ease-in-out
        &:hover::after
          width: 100%
          left: 0
          
